<?php

$header = <<<'EOF'
This file is part of PHP CS Fixer.
EOF;

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@Symfony' => true,
        '@Symfony:risky' => true,
        'array_syntax' => ['syntax' => 'short'],
        'combine_consecutive_unsets' => true,
        'general_phpdoc_annotation_remove' => ['expectedException', 'expectedExceptionMessage', 'expectedExceptionMessageRegExp'],
        'no_short_echo_tag' => true,
        'no_unreachable_default_argument_value' => true,
        'no_useless_return' => true,
        'braces' => false,
        'ordered_imports' => true,
        'no_unused_imports' => true,
        'semicolon_after_instruction' => true,
        //'strict_comparison'

        /* added by pablorsk 2 */
        'ternary_to_null_coalescing' => true,
        // 'pow_to_exponentiation' => true,
        'binary_operator_spaces' => true,
        'single_blank_line_before_namespace' => true,
        'random_api_migration' => true,

        /* added by pablorsk */
        'concat_space' => ['spacing' => 'one'],
        'no_unreachable_default_argument_value' => true,
        'no_multiline_whitespace_before_semicolons' => true,
        
        /* added by pablorsk for php-cs-fixer 2.6 */
        'yoda_style' => false,
        'phpdoc_no_empty_return' => false,
    ])
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->exclude('tests/Fixtures')
            ->in(__DIR__)
    )
;
